In [92]:
# @hidden_cell
# The project token is an authorization token that is used to access project resources like data sources, connections, and used by platform APIs.
from project_lib import Project
project = Project(project_id='d107b3b7-5952-4f1a-b584-3f0e85d35b37', project_access_token='p-3c518fbe1201f7fc2a5c30e7d873294d8cc9dc63')
pc = project.project_context

In [77]:
import pandas as pd
import numpy as np

In [3]:
import types
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share your notebook.
client_af235a348f63491c84b50dd6ad833176 = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='23cLdDEKGH1CZex4vkIuteeriXUhp41nlzANA_8Y-Dbs',
    ibm_auth_endpoint="https://iam.eu-gb.bluemix.net/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3.eu-geo.objectstorage.service.networklayer.com')

body = client_af235a348f63491c84b50dd6ad833176.get_object(Bucket='youtubevideoanalysis-donotdelete-pr-g7mbkny1lk4wng',Key='data.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df = pd.read_csv(body)
df.head()

,Unnamed: 0,links,vid,title,description,category
0,0,https://www.youtube.com/watch?v=ehmsJLZlCZ0,ehmsJLZlCZ0,NaN,NaN,travel
1,1,https://www.youtube.com/watch?v=yvn79Rv0F48,yvn79Rv0F48,NaN,NaN,travel
2,2,https://www.youtube.com/watch?v=i9E_Blai8vk,i9E_Blai8vk,NaN,NaN,travel
3,3,https://www.youtube.com/watch?v=Qvg1EW2FFmU,Qvg1EW2FFmU,NaN,NaN,travel
4,4,https://www.youtube.com/watch?v=_lcOX55Ef70,_lcOX55Ef70,NaN,NaN,travel

In [6]:
df = df.drop('Unnamed: 0', axis=1)
df.head()

,links,vid,title,description,category
0,https://www.youtube.com/watch?v=ehmsJLZlCZ0,ehmsJLZlCZ0,NaN,NaN,travel
1,https://www.youtube.com/watch?v=yvn79Rv0F48,yvn79Rv0F48,NaN,NaN,travel
2,https://www.youtube.com/watch?v=i9E_Blai8vk,i9E_Blai8vk,NaN,NaN,travel
3,https://www.youtube.com/watch?v=Qvg1EW2FFmU,Qvg1EW2FFmU,NaN,NaN,travel
4,https://www.youtube.com/watch?v=_lcOX55Ef70,_lcOX55Ef70,NaN,NaN,travel

In [7]:
import requests
from bs4 import BeautifulSoup

In [85]:
data = []
for url, category in zip(df['links'], df['category']):
    res = requests.get(url)
    soup = BeautifulSoup(res.text, 'lxml')
    for des, title in zip(soup.select('#eow-description'), soup.select('#eow-title')):
        data.append([url.split("v=")[1], title.text, des.text, category])

In [87]:
len(data)

3278

In [78]:
if np.nan in titles:
    print("NULL VALUE")

In [81]:
temp_df = pd.DataFrame(data={'descriptions': descriptions, 'titles': titles})

In [88]:
data_df = pd.DataFrame(data=data, columns=['vid', 'title', 'description', 'category'])

In [89]:
data_df.head()

,vid,title,description,category
0,ehmsJLZlCZ0,\n Ep 1| Travelling through North East Indi...,"The journey to Arunachal, North East India beg...",travel
1,yvn79Rv0F48,\n Backpacking In Meghalaya | NorthEast Ind...,"In this video I explored North East India, sta...",travel
2,i9E_Blai8vk,\n Welcome to Bali | Travel Vlog | Priscill...,I had the chance to fly out to Bali with my wh...,travel
3,Qvg1EW2FFmU,\n Travel Vlog | Weekend In Pondicherry | K...,Equipment I use for filming: http://geni.us/vK...,travel
4,_lcOX55Ef70,\n Solo in Paro Bhutan | Tiger's Nest visit...,Here’s presenting the first part of the Bhutan...,travel

In [90]:
data_df.to_csv('final_data.csv')

In [91]:
save_data('final_data.csv', data_df)

NameError: name 'save_data' is not defined

In [94]:
project.save_data('final_data.csv', data_df.to_csv())

{'file_name': 'final_data.csv',
 'message': 'File saved to project storage.',
 'bucket_name': 'youtubevideoanalysis-donotdelete-pr-g7mbkny1lk4wng',
 'asset_id': '013c80e0-a697-446e-8a90-6909691c240c'}